.text-field:javafxdemos-invalid {
	-fx-background-color: red;
}
.table-cell:javafxdemos-invalid {
	-fx-background-color: red;
	-fx-text-fill       : white;
}

.table-cell {
	-fx-alignment: center-left;
}

.table-row-cell {
	-fx-cell-size: 50px;
}
